*{
    margin: 0;
    padding: 0;
}


html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}


.seccion1{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
    background-color: rgb(245, 223, 78);
    margin-block-end: auto;
}



.p1seccion1{
    font-size: 3em;
}


.h1seccion1{
    font-size: 5.5em;
}


.p2seccion1{
    font-size: 1.2em;
}


button{
    background-color: rgb(33, 37, 41);
    color: white;
    padding: 1.3em;
    font-size: 1em;
}


.contactoseccion1{
    padding: 1.3em;
    color: black;
}


.imagenseccion1a{
    border-radius: 50%;
    border: 15px solid white
}

/*
section{
    display: flex;
    background-color: aqua;
    justify-content: center;
}
*/
/* comienza el header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    text-align: center;
}


ul{
    display: flex;
    text-transform: uppercase;
}

li{
    margin-left: 1em;
    display: flex;
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: center;
}


/*termina el header*/





















body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* comienza footer */


footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 4.35rem;
    margin-top: auto;
}


.pfooter{
    color: white;
}


.afooter{
    color: rgb(245, 223, 78);
}

.container_footer{
    display: flex;
    justify-content: space-between;
    width: 80.5em;




}








/*
.caja_footer_izquierda{
    background-color: green;
}

.caja_footer_derecha{
    background-color: blue;
}
*/





/*
.caja_footer_izquierda{
    text-align: right;    
}

.caja_footer_derecha{
    text-align: right;
}

/* termina footer*/
