*{
    margin: 0;
    padding: 0;
}


html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    
}

/* comienza el header*/


header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4.5rem;
    position: fixed;
    background-color: white;
    width:100%;
    
}

.prueba{
    justify-content: space-between;
    display: flex;
    width: 68%;
    align-items: center;
    background-color: white;
}



.ulheader{
    display: flex;
    text-transform: uppercase;
}

li{
    margin-inline: 1rem;
    display: flex;
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: center;
}

.contenedoricono{
    font-size: 1.2rem;
    display: flex;

}


.separacionicono{
    padding-inline: 1.3rem;
}

.aseccion9{
    color: black;
    text-decoration: none;
}

.aseccion1{
    color: white;
    text-decoration: none;
}

/*termina el header*/







/* comienza la seccion 1*/
.seccion1{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 13rem;
    padding-bottom: 5.5rem;
    background-color: rgb(245, 223, 78);
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    width: 68%;
    background-color: rgb(245, 223, 78);
    align-items: center;
    
}


.p1seccion1{
    font-size: 3em;
}


.h1seccion1{
    font-size: 5.5rem;
}


.p2seccion1{
    font-size: 1.2em;
}


.buttonseccion1{
    background-color: rgb(33, 37, 41);
    color: white;
    padding: 1.3em;
    font-size: 1em;
}


.contactoseccion1{
    padding: 1.3em;
    color: black;
}



.imagenseccion1a{
    border-radius: 50%;
    border: 1rem solid white;
    max-width: 100%;
    
}

.contenedoriconoseccion1{
    display: flex;
    background-color:rgb(245, 223, 78);
    justify-content: center;
    color: black;
    padding-bottom: 1rem;
}

.aseccionheader{
    color: black;
    text-decoration:none;
}


/*termina la seccion 1*/




/* comienza seccion2*/


.seccion2{
    padding-top: 6rem;
    padding-bottom: 6.6rem;
    
}


.columna1seccion2{
    text-align: center;
    padding-bottom: 1.5rem;
}


.row1seccion2{
    padding-bottom: 0.6rem;
}


.buttonseccion2{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(75, 74, 74);
    padding-block: 0;
    padding-inline: 0.4em;
}


.h1row2seccion2{
    font-size: 2.6rem;
}




.columna2seccion2{
    display: flex;
    align-items: center;
    justify-content:center;
    color: rgb(33, 37, 41);
}

.row3seccion2{
    padding-left: 16%;
    padding-right: 11%;
    font-size: 1.42em;
}



.row4seccion2{
    padding-right: 16%;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 6rem;
}


.cajacirculo{
    width: 20rem;
    height: 9.3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.circulo{
    background-color: rgb(245, 223, 78);
    width: 7.3rem;
    height: 7.3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50%;

}


.h1row4seccion2{
    font-size: 8.8rem;
    color: rgb(76, 77, 77);
}

.prow4seccion2{
    font-size: 2rem;
    
}


.columna3seccion2{
    display: flex;
    padding-right: 17%;
    padding-left: 16%;
    padding-top: 2.5rem;
    justify-content: space-between;
}

.h5rowseccion2{
    color: rgb(95, 105, 113);
    padding-bottom: 0.4rem;
    font-size: 0.9rem;
}

.prowseccion2{
    color: rgb(16, 20, 25);
}


/* termina seccion2*/






/* comienza seccion3 */

.seccion3{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 249, 250);
    padding-top: 6.5rem;
    padding-bottom: 3.5rem;
}


.columna1seccion3{
    text-align: center;
}

.row1seccion3{
    padding-bottom: 0.6rem;
}

.buttonseccion3{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(75, 74, 74);
    padding-block: 0;
    padding-inline: 0.4em;
}


.row2seccion3{
    padding-bottom: 5rem;
}


.h2seccion3{
    font-size: 2.6rem;
}


.row3seccion3{
    display: flex;
    justify-content: space-between;
    padding-inline: 16%;
    text-align: center;
    padding-bottom: 3rem;
}

.iconoseccion3aprendido{
    font-size: 3.3rem;
    color: rgb(245, 223, 78);
}

.h3seccion3aprendido{
    font-size: 1.4rem;
}

.prow3seccion3{
    color: rgb(95, 105, 113);
}


.cuadro2seccion3{
    padding-inline: 7rem;
}

.iconoseccion3{
    font-size: 3.3rem;
    color: rgb(95, 105, 113);
}

.h3seccion3{
    font-size: 1.4rem;
    color: rgb(95, 105, 113);
}

 
.row4seccion3{
    display: flex;
    justify-content: space-between;
    padding-inline: 16%;
    text-align: center;
    padding-bottom: 3rem;
}

.cuadro5seccion3{
    padding-inline: 7rem;
}


/* termina seccion3*/





/* comienza seccion4*/

.seccion4{
    display: flex;
    flex-direction: column;
}

.columna1seccion4{
    text-align: center;
    padding-top: 6.7rem;
}

.buttonseccion4{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(75, 74, 74);
    padding: 0.19rem;
}

.h2seccion4{
    font-size: 2.6rem;
}

.row2seccion4{
    padding-bottom: 5rem;
}

.h3seccion4{
    font-size: 1.85rem;
}

.h4seccion4{
    font-size: 1.35rem;
    padding-bottom: 0.4rem;
}

.institucionseccion4{
    font-size: 1.05rem;
    padding-bottom: 0.7rem;
    color: rgb(95, 105, 113);
}

.infoseccion4{
    font-size: 1.05rem;
    color: rgb(95, 105, 113);
}

.columna2seccion4{
    display: flex;
    padding-inline: 16%;
    justify-content: center;
}

.row4seccion4{
    font-size: 1.45rem;
    padding-inline: 16%;
    padding-bottom: 2rem;
}


.columnaizseccion4{
    padding-right: 2rem;
    padding-left: 1rem;
}

.columnadeseccion4{
    padding-right: 2rem;
    padding-left: 1rem;
}

.h3seccion4{
    font-size: 1.85rem;
}



.row5seccion4{
    width: 68%;
    min-width: 590px;
    position: relative;
    display: table-cell;
    display: flex;
    padding-inline: 16%;
    font-size: 1.1rem;


}

.izseccion4{
    width: 50%;
    padding-right: 1.9%;
}

.deseccion4{
    width: 50%;
    padding-left: 1.9%;
}

.habseccion4:not(:last-child){
    margin-bottom: 1.8rem;
}

.detseccion4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.menuseccion4{
    position: relative;
    background-color: rgb(233, 236, 239);
    border-radius: 0.2rem;
}

.menuseccion4 div{
    position: relative;
    width: 0;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(245, 223, 78);

}
.columna4seccion4{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.row6seccion4{
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
}



.buttom2seccion4{
    background-color: white;
    color: black;
    padding-inline: 2.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.97rem;
    border-width: 0.15rem;
}


/*animacion*/

#diseño-menuseccion4{
    animation: dis-barra 3s forwards;
}

@keyframes dis-barra{
    100%{
        width: 17%;
    }
}



#html-menuseccion4{
    animation: html-barra 3s forwards;
}

@keyframes html-barra{
    100%{
        width: 12%;
    }
}

#js-menuseccion4{
    animation: js-barra 3s forwards;
}

@keyframes js-barra{
    100%{
        width: 1%;
    }
}


#boot-menuseccion4{
    animation: boot-barra 3s forwards;
}

@keyframes boot-barra{
    100%{
        width: 8%;
    }
}


/*termina seccion4*/



/*empieza seccion5*/

.seccion5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
}

.columna1seccion5{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row1seccion5{
    text-align: center;
}

.buttonseccion5{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(75, 74, 74);
    padding: 0.19rem;
}
 



.h2seccion5{
    font-size: 2.5rem;
}

.row3seccion5{
    text-align: center;
    align-content: center;
    padding-bottom: 3rem;
    padding-top: 2.8rem;
    
}

.listaseccion5{
    text-align: center;
 
}

.ulseccion5{
    display: flex;
    color: rgb(140, 140, 141) ;
    padding-inline: 0.5rem;
}


.columna3seccion5{
    display: flex;
    padding-inline: 16%;
    padding-bottom: 0.9rem;
    justify-content: center;

}

.row4seccion5{
    display: flex;
}

.iconoseccion5{
    padding-inline: 0.76rem;
    
}


.columna4seccion5{
    display: flex;
    padding-inline: 16%;
    padding-bottom: 5.9rem;
    justify-content: center;
}

.row5seccion5{
    display: flex;
}

/*termina seccion5*/




/*comienza seccion9*/

.seccion9{
    display: flex;
    background-color: rgb(245, 223, 78);
    justify-content: center;
}

.columna1seccion9{
    padding-inline: 16%;
    display: flex;
    padding-bottom: 6.45rem;
    padding-top: 6.38rem;
    
    
}

.columnaizseccion9{
    padding-right: 2%;
    width: 75%;
}

.h2seccion9{
    font-size: 2.35rem;
    padding-bottom: 2.5rem;
}

.pseccion9{
    font-size: 1.5rem;
    color: rgb(33, 37, 41);
    padding-bottom: 0.2rem;
}

.h4seccion9{
    font-size: 1.4rem;
    padding-top: 0.53rem;
}

.spanseccion9{
    font-size: 1.09rem;
    font-weight: bolder;
    color: rgb(24, 30, 39);
}

.iconosseccion9{
    font-size: 1.6rem;
    display: flex;
    padding-top: 3.05rem;
}

.aseccion9{
    color: rgb(77, 85, 90);
}


.columnadeseccion9{
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    width: 66%;
}

.facebooks9{
    padding-inline: 1.2rem;
}

.gits9{
    padding-inline: 1.2rem;
}



.formseccion9{
    display: flex;
    flex-direction: column;


}

.cajalabseccion9{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.cajalab2seccion9{
    padding-bottom: 0.7rem;
    padding-top: 1.39rem;
}

.cajalab3seccion9{
    padding-top: 1.4rem;
}

input{
    background: none;
    border: none;
    border-bottom: 0.15rem;
    outline: 0;
    width: 100%;
    border-bottom: 2px solid rgb(213, 194, 68);
    font-size: 1.05rem;
    height: 2rem;
}

label{
    font-size: 1.09rem;
    padding-top: 1.5rem;
}

textarea{
    background: none;
    border: none;
    border-bottom: 0.15rem;
    outline: 0;
    width: 100%;
    border-bottom: 2px solid rgb(213, 194, 68);
    height: 9.41rem;
    font-size: 1.15rem;
}

.buttoncajaseccion9{
    padding-top: 1rem;
}

.buttonseccion9{
    font-size: 1rem;
    background-color: rgb(33, 37, 41);
    color: white;
    border: 0;
    display: flex;
    padding-left: 2.7rem;
    padding-right: 2.2rem;
    padding-block: 1rem;
    
    
}

.flechaseccion9{
    padding-left: 1.1rem;
    font-size: 1.2rem;
}


/* termina seccion9*/





/* comienza footer */


footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 4.35rem;
    margin-top: auto;
}


.pfooter{
    color: white;
}


.afooter{
    color: rgb(245, 223, 78);
}

.container_footer{
    display: flex;
    justify-content: space-between;
    width: 80.5em;


}








/*
.caja_footer_izquierda{
    background-color: green;
}

.caja_footer_derecha{
    background-color: blue;
}
*/





/*
.caja_footer_izquierda{
    text-align: right;    
}

.caja_footer_derecha{
    text-align: right;
}

/* termina footer*/
