*{
    margin: 0;
    padding: 0;
}


html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}



/* comienza el header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 4.5rem;
}

.prueba{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    padding: 0;
}

ul{
    display: flex;
    text-transform: uppercase;
}

li{
    margin-left: 1em;
    display: flex;
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: center;
}

.contenedoricono{
    font-size: 1.2rem;
    width: 5rem;

    justify-content: space-between;
}

i{
    justify-content: space-between;
}

/*termina el header*/







/* comienza la seccion 1*/
.seccion1{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 13rem;
    padding-bottom: 5.5rem;
    background-color: rgb(245, 223, 78);
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    width: 68%;
    background-color: rgb(245, 223, 78);
    align-items: center;
    
}


.p1seccion1{
    font-size: 3em;
}


.h1seccion1{
    font-size: 5.5em;
}


.p2seccion1{
    font-size: 1.2em;
}


button{
    background-color: rgb(33, 37, 41);
    color: white;
    padding: 1.3em;
    font-size: 1em;
}


.contactoseccion1{
    padding: 1.3em;
    color: black;
}


.imagenseccion1a{
    border-radius: 50%;
    border: 1em solid white;
    max-width: 100%;
    
}

.contenedoriconoseccion1{
    display: flex;
    background-color:rgb(245, 223, 78);
    justify-content: center;
    color: black;
    padding-bottom: 1rem;
}
 


/*termina la seccion 1*/



/*
section{
    display: flex;
    background-color: aqua;
    justify-content: center;
}
*/




/* comienza seccion2*/


.seccion2{
    padding-block: 6.6rem;
    
}


.columna1seccion2{
    text-align: center;
    padding-bottom: 2.5rem;
}


.row1seccion2{
    padding-bottom: 0.6rem;
}


.buttonseccion2{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(33, 37, 41);
    padding-block: 0;
    padding-inline: 0.4em;
}


.h1row2seccion2{
    font-size: 2.6rem;
}




.columna2seccion2{
    display: flex;
    align-items: center;
    justify-content:center;
    color: rgb(33, 37, 41);
}

.row3seccion2{
    padding-left: 16%;
    padding-right: 11%;
    font-size: 1.42em;
    padding-bottom: 2rem;
}



.row4seccion2{
    padding-right: 16%;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 5rem;
}

.h1row4seccion2{
    font-size: 3em;
}

.h4row4seccion2{
    font-size: 0.6em;
}




.columna3seccion2{
    display: flex;
    padding-right: 17%;
    padding-left: 16%;
    padding-top: 2.5rem;
    justify-content: space-between;
}

.h5rowseccion2{
    color: rgb(95, 105, 113);
}

.prowseccion2{
    color: rgb(16, 20, 25);
}


/*
.row5seccion2{
    background-color: aquamarine;
    padding-inline: 4%;
}

.row6seccion2{
    background-color: brown;
    padding-inline: 4%;
}

.row7seccion2{
    background-color: rgb(196, 23, 118);
    padding-inline: 4%;
}

.row8seccion2{
    background-color: rgb(132, 165, 42);
    padding-inline: 4%;
}
*/


/* termina seccion2*/








/* comienza seccion3 */

.seccion3{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 249, 250);
    padding-top: 6.5rem;
    padding-bottom: 3.5rem;
}


.columna1seccion3{
    text-align: center;
}

.row1seccion3{
    padding-bottom: 0.6rem;
}

.buttonseccion3{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(33, 37, 41);
    padding-block: 0;
    padding-inline: 0.4em;
}


.row2seccion3{
    padding-bottom: 5rem;
}


.h2seccion3{
    font-size: 2.6rem;
}



/*columna2seccion3*/

.row3seccion3{
    display: flex;
    justify-content: space-between;
    padding-inline: 16%;
    text-align: center;
    padding-bottom: 3rem;
}

.iconoseccion3aprendido{
    font-size: 3.3rem;
    color: rgb(245, 223, 78);
}

.h3seccion3aprendido{
    font-size: 1.4rem;
}

.prow3seccion3{
    color: rgb(95, 105, 113);
}


.cuadro2seccion3{
    padding-inline: 7rem;
}

.iconoseccion3{
    font-size: 3.3rem;
    color: rgb(95, 105, 113);
}

.h3seccion3{
    font-size: 1.4rem;
    color: rgb(95, 105, 113);
}

 
.row4seccion3{
    display: flex;
    justify-content: space-between;
    padding-inline: 16%;
    text-align: center;
    padding-bottom: 3rem;
}

.cuadro5seccion3{
    padding-inline: 7rem;
}






/* termina seccion3*/






/* comienza seccion4*/


.seccion4{
    display: flex;
    flex-direction: column;
}


.buttonseccion4{
    background-color: rgb(245, 223, 78);
    border: 0;
    color: rgb(33, 37, 41);
    padding: 0.2rem;
}


.row2seccion4{
    padding-bottom: 5rem;
}


.h2seccion4{
    font-size: 2.6rem;
}





.columna2seccion4{
    display: table-cell;
    display: flex;

    padding-inline: 16%;
}

.columnaizseccion4{
    padding-right: 2rem;
    padding-left: 1rem;
}

.columnadeseccion4{
    padding-right: 2rem;
    padding-left: 1rem;
}

/*
.lineaseccion4{
    border-left: thick solid #000;
    height: 27rem;
    left: 14%;
    position: absolute;
    padding-top: 
}
*/



/* termina seccion4*/




body{
    display: flex;
    flex-direction: column;
}
/* comienza footer */


footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 4.35rem;
    margin-top: auto;
}


.pfooter{
    color: white;
}


.afooter{
    color: rgb(245, 223, 78);
}

.container_footer{
    display: flex;
    justify-content: space-between;
    width: 80.5em;




}








/*
.caja_footer_izquierda{
    background-color: green;
}

.caja_footer_derecha{
    background-color: blue;
}
*/





/*
.caja_footer_izquierda{
    text-align: right;    
}

.caja_footer_derecha{
    text-align: right;
}

/* termina footer*/
